.headerContainer {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
}

.headerContainer * {
    /* border: 1px solid red; */
}

.headshotContainer {
    height: 220px;
    width: 220px;
    position: relative;
}

.headshot,
.headshotContainer > .shadow {
    width: 95%;
    height: 95%;
    border-radius: 10px;
    border-radius: 50%;
}

.headshot {
    object-fit: cover;
    object-position: 0% 0%;
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 1;
    border-radius: 50%;
}

.headshotContainer > .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
}

.rightSide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 670px;
}

.name {
    white-space: pre;
    color: white;
    display: flex;
    align-items: flex-end;
}

.highlight {
    position: absolute;
    z-index: -1;
    transition: 1000ms ease-in-out;
    background-size: 200%;
    background-image: linear-gradient(to right, transparent 50%, grey 50%)
}

.visible {
    background-position: -100%;
}

.name,
.buttons {
    width: 100%;
    height: 100px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}


.leftButtons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 60%;
}

.developer {
    font-size: 1.5rem;
}

.leftButtons > a {
    text-decoration: none;
}

.rightButtons {
    width: 40%;
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 10px;
    margin-right: 35px;
}

.rightButtons > a {
    color: inherit;
}

.icon1,
.icon2,
.icon3 {
    cursor: pointer;
    margin: auto;
}

.icon1 {
    height: 37px;
    width: 37px;
}

.icon2 {
    color: #0072b1;
}

.icon2,
.icon3 {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

