.bannerContainer {
    height: 40vh;
    width: 100%;
    position: relative
}

.bannerImage {
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: brightness(30%);
}

.bannerContainer > span {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #636363;
}

.bannerContainer > span > * {
    color: inherit;
    /* text-decoration: none !important; */
}

.themeToggle {
    /* position: absolute; */
    /* top: 10px; */
    /* right: 200px; */
    color: white;
    background-color: #535353;
}

/* .languagePicker{
    position: absolute;
    top: 10px;
    right: 10px;
} */

.languageTheme {
    position: absolute;
    top: 10px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}