.bannerContainer {
    height: 40vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.bannerImage {
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: brightness(30%);
}

.bannerContainer > span {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #636363;
}

.bannerContainer > span > * {
    color: inherit;
}

.themeToggle {
    color: white;
    background-color: #535353;
}

.languageTheme {
    position: absolute;
    top: 10px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

main .resumeContainer:nth-child(3) {
    margin-top: 29vh !important;
}

.resumeContainer {
    margin: 0 auto;
    min-width: 900px;
    width: 60%;
}


.profileLanguagesEducation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
}

.profileLanguagesEducation > * {
    /* width: 30%; */
    /* border: 1px solid red; */
}

.portfolioBanner {
    width: 100%;
}