.wrapper {
    width: fit-content;
    margin: 0 auto;
}

.topCard{
    position: relative;
    transition: 200ms ease;
    top: 0px;
    left: 0px;
}

.shadow{
    position: absolute;
    transition: 200ms ease;
    top: 10px;
    left: -10px;
}

.wrapper:hover > a.topCard{
    top:-3px;
    left:3px;
}

.wrapper:hover > div.shadow{
    top:13px;
    left:-13px;
}